.btn-page {
  color: #3397E3;
  background-color: white;
  border: 1px solid #3397E3;
}

.btn-page:hover {
  color: #3397E3;
  background-color: white;
  border: 1px solid #3397E3;
  font-weight: bolder;
}

.rooms {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
