<div class="hero-container">
  <div class="hero-tagline full-height", style="background-image: linear-gradient(-225deg, rgba(0,150,190,0.3) 0%, rgba(0,36,61,0.5) 50%), url('assets/banner.jpg');">
     <div class="container full-height text-center">
      <div class="row full-height">
        <div class="col-xs-12 full-height flex-center">
          <div class="cta-content">
            <h1 class="text-center">Gérez vos réservations de salles simplement.</h1>
            <h2 class="text-center">Avec notre outil
              <span class="txt-rotate data-period="2000" data-rotate='[ "créez", "modifiez", "annulez" ]'></span> vos réservations</h2>
          </div>
        </div>
      </div>
      <%= link_to 'Commencer', rooms_path, class: "btn btn-primary btn-cta" %>
    </div>
  </div>
</div>

<% content_for(:js) do %>
  <script>
    var TxtRotate = function(el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function() {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

      var that = this;
      var delta = 100 - Math.random() * 100;

      if (this.isDeleting) { delta /= 2; }

      if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 200;
      }

      setTimeout(function() {
        that.tick();
      }, delta);
    };

    window.onload = function() {
      var elements = document.getElementsByClassName('txt-rotate');
      for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-rotate');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtRotate(elements[i], JSON.parse(toRotate), period);
        }
      }
    };
  </script>
<% end %>
